###> IDEA ###
.idea
###< IDE ###

###> code/quality ###
psalm.xml
###< code/quality ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
